.ReactTags__tags {
  @apply
    relative;
}

.ReactTags__clearAll {
  @apply
    cursor-pointer px-4 mx-4;
}

.ReactTags__tagInput {
  @apply border rounded-md inline-block w-[100%] ;

  input.ReactTags__tagInputField {
    @apply rounded-sm m-0 px-4 border  border-background h-[34px] w-[100%] text-primary;

    &:focus {
      @apply rounded-sm m-0 px-4 border border-white h-[34px] w-[100%];
    }
  }
}

.ReactTags__editInput {
  border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

.ReactTags__selected {
  @apply flex flex-row items-start flex-wrap;

  span.ReactTags__tag {
    @apply border rounded-sm p-1 m-1 flex flex-row items-center justify-center;
  }

  .ReactTags__remove {
    @apply cursor-pointer text-red-500
  }
}

.ReactTags__suggestions {
  @apply absolute z-50 bg-background border border-gray-300 rounded-md shadow-lg w-[100%];

  ul {
    @apply w-[100%] p-2 list-none z-50;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  }

  li {
    @apply p-2 text-left w-[100%];
    mark {
      text-decoration: underline;
      background: none;
      color: #fff;
    }

    &.ReactTags__activeSuggestion {
      @apply bg-secondary text-primary cursor-pointer;
      span mark {
        color: #fff;
      }
    }
  }
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  padding: 5px;
  svg {
    fill: red !important;
  }
}

.ReactTags__error {
  color: #e03131;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    padding: 0 5px;
    color:red;
  }
}
