@layer primereact {
  .p-treeselect {
    @apply important:border important:border-primary rounded-md w-[100%] h-[34px] text-primary;
  }

  .p-treeselect:not(.p-disabled):hover {
    border-color: #d4d4d8;
  }

  .p-treeselect:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
  }

  .p-treeselect.p-treeselect-clearable .p-treeselect-label {
    padding-right: 1.75rem;
  }

  .p-treeselect.p-variant-filled {
    background: #fafafa;
  }

  .p-treeselect.p-variant-filled:not(.p-disabled):hover {
    background-color: #fafafa;
  }

  .p-treeselect.p-variant-filled:not(.p-disabled).p-focus {
    background-color: #ffffff;
  }

  .p-treeselect .p-treeselect-label {
    @apply px-4 border  border-background h-[34px] w-[100%] text-primary;
    &:focus {
      @apply rounded-sm m-0 px-4 border border-white h-[34px] w-[100%];
    }
  }

  .p-treeselect .p-treeselect-label.p-placeholder {
    color: #71717a;
  }

  .p-treeselect.p-treeselect-chip .p-treeselect-token {
    padding: 0.375rem 0.75rem;
    margin-right: 0.5rem;
    background: #e5e7eb;
    color: #3f3f46;
    border-radius: 16px;
  }

  .p-treeselect .p-treeselect-trigger {
    background: transparent;
    color: #71717a;
    width: 3rem;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }

  .p-treeselect .p-treeselect-clear-icon {
    color: #71717a;
    right: 3rem;
  }

  .p-treeselect.p-invalid.p-component {
    border-color: #f0a9a7;
  }

  .p-inputwrapper-filled.p-treeselect.p-treeselect-chip .p-treeselect-label {
    padding: 0.375rem 0.75rem;
  }

  .p-treeselect-panel {
    background: #ffffff;
    color: #3f3f46;
    border: 0 none;
    border-radius: 0.375rem;
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .p-treeselect-panel .p-treeselect-header {
    padding: 0.5rem 0.75rem;
    border-bottom: 0 none;
    color: #3f3f46;
    background: #fafafa;
    margin: 0;
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
  }

  .p-treeselect-panel .p-treeselect-header .p-treeselect-filter-container {
    margin-right: 0.5rem;
  }

  .p-treeselect-panel .p-treeselect-header .p-treeselect-filter-container .p-treeselect-filter {
    padding-right: 1.75rem;
  }

  .p-treeselect-panel .p-treeselect-header .p-treeselect-filter-container .p-treeselect-filter-icon {
    right: 0.75rem;
    color: #71717a;
  }

  .p-treeselect-panel .p-treeselect-header .p-treeselect-filter-container.p-treeselect-clearable-filter .p-treeselect-filter {
    padding-right: 3.5rem;
  }

  .p-treeselect-panel .p-treeselect-header .p-treeselect-filter-container.p-treeselect-clearable-filter .p-treeselect-filter-clear-icon {
    right: 2.5rem;
  }

  .p-treeselect-panel .p-treeselect-header .p-treeselect-close {
    width: 2rem;
    height: 2rem;
    color: #71717a;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: none;
  }

  .p-treeselect-panel .p-treeselect-header .p-treeselect-close:enabled:hover {
    color: #18181b;
    border-color: transparent;
    background: #f4f4f5;
  }

  .p-treeselect-panel .p-treeselect-header .p-treeselect-close:focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 1px #6366f1;
  }

  .p-treeselect-panel .p-treeselect-items-wrapper .p-tree {
    border: 0 none;
  }

  .p-treeselect-panel .p-treeselect-items-wrapper .p-treeselect-empty-message {
    padding: 0.75rem 1rem;
    color: #3f3f46;
    background: transparent;
  }

  .p-input-filled .p-treeselect {
    background: #fafafa;
  }

  .p-input-filled .p-treeselect:not(.p-disabled):hover {
    background-color: #fafafa;
  }

  .p-input-filled .p-treeselect:not(.p-disabled).p-focus {
    background-color: #ffffff;
  }

  .p-tree-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: auto;
  }

  .p-treenode-children {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .p-treenode-selectable {
    cursor: pointer;
    user-select: none;
  }

  .p-tree-toggler {
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
  }

  .p-treenode-leaf > .p-treenode-content .p-tree-toggler {
    visibility: hidden;
  }

  .p-treenode-content {
    display: flex;
    align-items: center;
  }

  .p-tree-filter {
    width: 100%;
  }

  .p-tree-filter-container {
    position: relative;
    display: block;
    width: 100%;
  }

  .p-tree-filter-icon {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
  }

  .p-tree-loading {
    position: relative;
    min-height: 4rem;
  }

  .p-tree .p-tree-loading-overlay {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .p-tree {
    border: 1px solid #e5e7eb;
    background: #ffffff;
    color: #3f3f46;
    padding: 1.25rem;
    border-radius: 0.375rem;
  }

  .p-tree .p-tree-container .p-treenode {
    padding: 0.143rem;
    outline: 0 none;
  }

  .p-tree .p-tree-container .p-treenode:focus > .p-treenode-content {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.15rem #6366f1;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content {
    border-radius: 0.375rem;
    transition: none;
    padding: 0;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    color: #71717a;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: none;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:enabled:hover {
    color: #18181b;
    border-color: transparent;
    background: #f4f4f5;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:focus-visible {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 1px #6366f1;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content .p-treenode-icon {
    margin-right: 0.5rem;
    color: #71717a;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content .p-checkbox {
    margin-right: 0.5rem;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content .p-checkbox.p-indeterminate .p-checkbox-icon {
    color: #3f3f46;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
    background: #eef2ff;
    color: #312e81;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler,
  .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-treenode-icon {
    color: #312e81;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler:hover,
  .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-treenode-icon:hover {
    color: #312e81;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
    background: #f4f4f5;
    color: #18181b;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-dragover {
    background: #f4f4f5;
    color: #18181b;
  }

  .p-tree .p-tree-filter-container {
    margin-bottom: 0.5rem;
  }

  .p-tree .p-tree-filter-container .p-tree-filter {
    width: 100%;
    padding-right: 1.75rem;
  }

  .p-tree .p-tree-filter-container .p-tree-filter-icon {
    right: 0.75rem;
    color: #71717a;
  }

  .p-tree .p-treenode-children {
    padding: 0 0 0 1rem;
  }

  .p-tree .p-tree-loading-icon {
    font-size: 2rem;
  }

  .p-tree .p-tree-loading-icon.p-icon {
    width: 2rem;
    height: 2rem;
  }

  .p-tree .p-treenode-droppoint {
    height: 0.5rem;
  }

  .p-tree .p-treenode-droppoint.p-treenode-droppoint-active {
    background: #8ba7ff;
  }
}
